body {
  background: #f0f0f0;
}

.header {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.header svg {
  font-size: 5.5rem;
  margin-bottom: 50px;
  color: #61DBFB;
  -webkit-animation: anim-logo-rotate-scale 0.7s linear both;
	animation: anim-logo-rotate-scale 0.7s linear both;
}

.add-task {
  width: 400px;
  height: 150px;
  position: relative;
  text-align: center;
  margin: auto;
}

.task-title {
  width: inherit;
  height: 40px;
  padding-left: 10px;
  border: 0;
  outline: 0;
  border-radius: 10px 10px 0 0px;
  border-top: .2px solid rgba(0, 0, 0, 0.149);
  border-left: .2px solid rgba(0, 0, 0, 0.149);
  border-right: .2px solid rgba(0, 0, 0, 0.149);
}

.task-note {
  padding-left: 10px;
  padding-top: 10px;
  width: inherit;
  height: 100px;
  border: 0;
  outline: 0;
  border-radius: 0 0 10px 10px;
  resize: none;
  border-bottom: .2px solid rgba(0, 0, 0, 0.149);
  border-left: .2px solid rgba(0, 0, 0, 0.149);
  border-right: .2px solid rgba(0, 0, 0, 0.149);
}

.task-note, .task-title {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.add-btn {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 0;
  font-size: 25px;
  color: white;
  background: #449ab0c7;
  cursor: pointer;
}

.tasks-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

.task-box {
  background: white;
  position: relative;
  width: 300px;
  min-height: 100px;
  height: fit-content;
  margin: 20px;
  padding-left: 15px;
  border-radius: 10px;
  border: .2px solid rgba(0, 0, 0, 0.149);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} 

.deletedItem {
  -webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.task-box p {
  width: 90%;
  word-wrap: break-word;
}

.task-box h4 {
  width: 90%;
  word-wrap: break-word;
  margin-bottom: 0;
}

.delete-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.189);
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovering {
  position: absolute;
  width: 100%;
  height: 100px;
  right: 0;
}

.hovering:hover ~ .delete-btn {
  display: flex;
}

.delete-btn:hover {
  display: flex;
}

.notification {
  margin: auto;
  margin-top: 10px;
  display: flex;
  width: 250px;
  height: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.notify-error {
  background: rgb(213, 35, 35);
}

.notify-success {
  background: rgb(0, 160, 21);
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes anim-logo-rotate-scale {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes anim-logo-rotate-scale {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(1, 1, 0, -180deg);
    transform: scale(2) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .add-task {
    width: 90%;
  }
}
